.toggle-button {
  background-color: black;
  color: white;
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.is-toggled {
  background-color: grey;
  color: white;
}